<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Modulo4"
        tools:targetApi="31">
        <activity
            android:name=".ejercicios2.FrameEje2Activity"
            android:exported="false" />
        <activity
            android:name=".tareaRegistro.Registro2Activity"
            android:exported="false" />
        <activity
            android:name=".ejercicios2.ReciclerEje2Activity"
            android:exported="false" />
        <activity
            android:name=".ejercicios2.ConstraintEje2Activity"
            android:exported="false" />
        <activity
            android:name=".ejercicios2.RelativeEje2Activity"
            android:exported="false" />
        <activity
            android:name=".ejercicios2.LinearEje2Activity"
            android:exported="false" />
        <activity
            android:name=".ejercicios.componentesGraficos.RecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios.componentesGraficos.SelectionComponentActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios.componentesGraficos.ConstraintActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios.componentesGraficos.RelativeActivity"
            android:exported="false" />
        <activity
            android:name=".ProyectoFinal.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios.componentesGraficos.LinearActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios.componentesGraficos.FrameActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios.activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios.activities.FirstActivity"
            android:exported="false" /> <!-- para poner comentarios command más diagonal -->
        <!--
<activity
            android:name=".ejercicios.SecondActivity"
            android:parentActivityName=".ejercicios.FirstActivity"
            android:exported="false" />
        -->
        <activity
            android:name=".ejercicios.activities.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios.activities.IntentActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios.activities.CicloVidaToastActivity"
            android:exported="false" />
        <activity
            android:name=".tareaRegistro.RegistroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>